rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /companies/{central} {
      allow read, create, update, delete: if signedIn();

      match /accessRequests/{requestId} {
        allow read, create, update, delete: if signedIn();
      }

      match /taxis/{taxiId} {
        allow read, create, update, delete: if signedIn();
      }

      match /messages/{messageId} {
        allow read, create, update, delete: if signedIn();
      }

      match /walkieClips/{clipId} {
        allow read, create, update, delete: if signedIn();
      }

      match /state/{stateId} {
        allow read, create, update, delete: if signedIn();
      }
    }
  }
}
